= form_for @owner do |f|
  .label
    = f.label :first_name
  .item
    = f.text_field :first_name
  .label
    = f.label :last_name
  .item
    = f.text_field :last_name
  .label
    = f.label :email
  .item
    = f.text_field :email
  = f.submit