- content_for :menu do
  %ul
    %li= link_to 'Edit', :action => :edit
    %li= link_to 'Add Boat', :action => :new, :controller => :boats



%p= "Hi #{@owner.name}"

%h2 You have #{pluralize(@owner.boats.count, 'boat')}

%ul
  - @owner.boats.each do |b|
    %li= link_to b.name, b
    
%ul.items
  - @owner.boats.each do |boat|
    %li
      = link_to image_tag(boat.banner.url(:thumb)), boat
      .info
        %h3= link_to boat.name, boat
        %p
          = link_to 'Edit boat', edit_boat_path(boat)
          = link_to 'Availability', boat