- content_for :menu do
  %ul
    %li= link_to 'Edit', :action => :edit
    %li= link_to 'Add Boat', :action => :new, :controller => :boats



%p= "Hi #{@owner.name}"

%h2 You have #{pluralize(@owner.boats.count, 'boat')}

%ul
  - @owner.boats.each do |b|
    %li= link_to b.name, b
  