- content_for :head do
  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
  :javascript
    /*$(function() {
      $('#images').exposure({
        carouselControls: true,
        pageSize: 4
      });
    });*/
  
    var lat = #{@boat.latitude};
    var lon = #{@boat.longitude};
    
    $(function() {
      var position = new google.maps.LatLng(lat, lon);
      var options = {
        zoom: 16,
        center: position,
        mapTypeId: google.maps.MapTypeId.HYBRID,
        disableDefaultUI: true
      };
      
      var map = new google.maps.Map($('#map')[0], options);
      var marker = new google.maps.Marker({position: position, map: map});
    });

- content_for :menu do
  %ul
    %li= link_to 'Edit', :action => :edit
  
%h2= @boat.name
= image_tag @boat.banner.url

%p= @boat.description

- if @boat.photos.any?
  %ul#images
    - @boat.photos.each do |p|
      %li= link_to image_tag(p.file.url :thumb), p.file.url
#map{ :style => 'width: 561px; height: 400px;' }
  -#%img{:src => "http://maps.google.com/maps/api/staticmap?zoom=14&markers=#{CGI.escape @boat.address}&size=500x500&sensor=false"}
  